# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Juoiter notebooks
*.ipynd

# Local data
data/
!data/label_mapping.json
# output/

# Virtual env
venv/

# Git
.git/
.gitignore

# Ignore other models
output/flan-t5-lora.tar.gz
output/*.jsonl
output/runs/
output/final_merged_model/
output/model/finetuned_model/  
output/model/model.tar.gz
output/model/runs/
output/model/roberta-finetuned-model/checkpoint*
output/model/roberta-finetuned-model/runs/
output/model/roberta-finetuned-model/model.tar.gz
output/model/flan-t5-finetuned/checkpoint*
output/model/flan-t5-lora.tar.gz
output/model/flan-t5-finetuned/runs/